#div1{
    background-color: black;
    text-align: center;
    padding: 20px;
    font-weight:900;
}

nav>a{
    color:white;
    padding:20px;
}

div>p{
    border:2px solid black;
    background-color:white;
    color:red;
    text-align:justify;
    text-indent: 40px;
    height:50px;
}

a{
    text-decoration: none;
}